<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myweb.demo.dao.master.LoginDao">
	<resultMap id="BaseResultMap" type="com.myweb.demo.domain.User">
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>

	<parameterMap id="User" type="com.myweb.demo.domain.User"/>

	<sql id="Base_Column_List">
		username, password
	</sql>

	<select id="getUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_test
		where username = #{username}
	</select>

	<insert id="save" parameterType="com.myweb.demo.domain.User">
		insert into
		user_test(username,password) values(#{user.username},#{user.password})
	</insert>

</mapper>